/* PRINT REPORT */
@media only print
{
    html, body
    {
        height: 100%;
        width: 100%;
    }

    /* .report-footer
    {
        page-break-after: always;
    } */

    .report-header-title
    {
        font-family: 'Multicolore';
        font-size: 25px;
        color: #FFFFFF;
    }

    @page 
    {
        margin: 0; 
    }
}

@media only screen and (min-width: 1px) {

    .report-header-title
    {
        font-family: 'Multicolore';
        font-size: 35px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .report-background
    {
        height: 100vh;
    }
}

.pagebreak 
{ 
    page-break-before: always;
}

.rounded-area
{
    border: 4px solid #F7A41F !important;
    border-radius: 20px;
}

.report-wrapper {
    position: absolute;
    display: block;
    /*width: 210mm;*/
    /* height: 1403px; */
    height: 100%;
    width: 100%;
    /*margin: 0;*/
    /*padding-bottom: 0;*/
    overflow-y: hidden; 
    /* don't show content that exceeds my height */
    overflow-x: hidden;
}

.report-footer {
    /*position: absolute;*/
    bottom: 0;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.report-footer label {
    color: #FFFFFF;
    font-family: 'Multicolore';
    font-size: 12px;
}

.report-wrapper .radar-chart
{
    margin-top: 200px;
    margin-left: 30px;
    width: 300px;
}

.report-wrapper .photo-area
{
    margin-top: 10rem !important;
    width: 220px;
    /* margin-bottom: 80px !important; */
    margin-right: 1rem !important;
    /* margin: auto; */
    display: block !important;
}

.report-wrapper .photo-area img
{
    width: 100% !important;
    height: 300px !important;

    /*width: 152px !important;
    height: 227px !important;*/

    object-fit: cover !important;
    object-position: center top;
    background-color: #FFFFFF;
}

.report-wrapper .title
{
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Multicolore';
}

.bottom-report-info
{
    float: right;
    margin-right: 10px; 
    font-size: 10px;
}

/* .ruler-progress-bar
{
    position: absolute; 
    width: 100%; 
    top:-8px;
}

.end-progress-bar
{
    width:15px; 
    position: absolute; 
    top:-6px; 
} */

.progress {
    width: 100%;
    height: 15px;
    border-radius: 10px;

    .progress-bar {
        /* background-color: #ec4124 !important; */
        border-radius: 10px;
        position: relative;

        /* &[aria-valuenow]::after {
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            border-radius: 100%;
            right: 7px;
            background-color: white;
        } */
    }
}

.assessment-area
{
    margin-top: 5rem !important;
    padding-top: 80px;
}

.indicator-area
{
    height: 33px;
}

.assessment-const
{
    margin-right: 10px;
    margin-left: 15px;
}

.assessment-category-title
{
    color: #FFFFFF;
    font-family: 'Multicolore';
}

.pre-hoops-assessment
{
    color: black;
    font-family: 'Multicolore';
    font-size: 10px;
}

.pre-hoops-indicator-title
{
    color: black;
    font-family: 'Multicolore';
    font-size: 10px;
}

.pre-hoops-development-area
{
    font-family: 'Multicolore';
    font-size: 25px;
    width:15rem;
}

.pre-hoops-skill-area
{
    background: rgba(255, 255, 255, 0.5);
}

.pre-hoops-skill-area span
{
    font-family: 'Multicolore';
    font-size: 20px;
    color: white;
}

.pre-hoops-bar
{
    height: 50px;
}

.pre-hoops-bar .data
{
    height:10px;
    background-color: #2DAAE1;
}

.pre-hoops-title
{
    font-family: 'KidsMagazine';
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    display: block;
}

.assessment-bar
{
    height: 30px;
}

.assessment-bar .data
{
    height:20px; 
    background-color: #008D36 !important;
}

.notes-pre-hoops-area
{
    margin-top: 13px;
}

.report-assessment-pre-hoops
{
    padding-top: 13.5rem;
    padding-bottom: .8rem;
}

.report-assessment-pre-hoops .title-area
{
    height: 10px;
}

.notes-pre-hoops-area .title
{
    height: 20px; 
    color: black;
}

.notes-pre-hoops-area .data
{
    /*height: 50px;*/
    color: black;
}

.chart-area
{
    background-color: #FFFFFF;
    margin-right: 12px; 
}

.rounded-nutrition-chart-area
{
    border: 4px solid #FFFFFF !important;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 690px;
    /* margin-left: 30px; */
    /* margin-top: 30px; */
    margin-right: 100px;
    margin-bottom: 30px;
    height: 275px;
}

.information-area
{
    width: 80mm;
    height: 7mm;
    background-color: #FFFFFF;
}

.row-information
{
    padding-left: 50px!important;
    padding-right: 30px!important;
}

.information-area-td
{
    padding-left: 20px;
    padding-right: 20px;
}

.double-information-area-td
{
    padding-left: 20px;
    padding-right: 10px;
}

.information-area-right
{
    margin-left: 10px;
}

.information-area-right .title
{
    font-size: 15px;
}

.double-information-area
{
    width: 35mm;
    height: 7mm;
    background-color: #FFFFFF;
}

.double-information-area-left
{
    width: 47mm;
    height: 12mm;
    background-color: #FFFFFF;
    margin-left: 10px;
}

.arm-area
{
    width: 25rem;
    height: 20px;
    background-color: #FFFFFF;
    margin-left: 15px;
    line-height: 20px;
}

.information-area .data
{
    line-height: 23px;
}

.double-information-area .data
{
    line-height: 23px;
}

.report-wrapper .information-title
{
    padding-bottom: 5px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #FFFFFF;
    font-family: 'Multicolore';
}

.report-wrapper .information-title .data
{
    height: 20px; 
    line-height: 10px;
}

.nutrition-photo-data .nutrition-data
{
    line-height: 20px;
}

.nutrition-description-data
{
    font-size: 15px;
    color: black;
    font-family: 'Multicolore';
    padding-top: 10px;
    padding-left: 10px;
}

.nutrition-area
{
    margin-left: 30px;
    margin-top: 50px !important;
    /* margin-bottom: 20px !important; */
}

.rounded-nutrition-area
{
    border: 4px solid #ffff !important;
    border-radius: 20px;
}

.rounded-nutrition-area-photo
{
    margin-top:45px;
    width: 230px;
    margin-right: 12px; 
    display: block !important;
}

.rounded-nutrition-area-photo img
{
    width: 100% !important;
    height: 400px !important;
    /* object-fit: cover !important; */
    /* object-position: center top; */
    background-color: #FFFFFF;
}

.nutrition-line
{
    position: absolute;
    top: 510px;
    left: 290px;
}

.nutrition-line img
{
    height: 400px !important;
    width: 30px !important;
    margin-left: 0px;
    /* margin-top: 100px; */

}

.rounded-nutrition-area
{
    border: 4px solid #FFFFFF !important;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 100px;
    height: 20px;
}

table, th, td {
    /* border: 1px solid black; */
    vertical-align: top!important;
  }


.nutrition-photo-data
{
    position: absolute;
    top: 480px;
    left: 315px;
}

.weight-title
{
    font-size: 12px!important;
    margin-left: 20px;
    font-style: bold;
    color: white;
}

.height-title
{
    font-size: 12px!important;
    margin-left: 20px;
    font-style: bold;
    color: white;
}

.bmi-title
{
    font-size: 12px!important;
    margin-left: 10px;
    font-style: bold;
    color: white;
}

.nutrition-table
{
    text-align: left;
}

/* .nutrition-photo-data .height-data
{
    margin-bottom: 50px;
} */

.nutrition-photo-data .weight-data
{
    margin-top: 210px;
}

.nutrition-photo-data .bmi-data
{
    margin-top: 185px;
}

.nutrition-description
{
    position: absolute;
    top: 430px;
    left: 430px;
    /* margin-left: 3rem; 
    height: 20px; */
}

.rounded-nutrition-area-suggest
{
    border: 4px solid #FFFFFF !important;
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 310px;
    min-height:450px;
    margin-top: 138px;
    margin-left:20px;
}

.nutrition-description img
{
    padding-top: 10px;
}

.nutrition-description .suggest
{
    height: 14rem;
    margin-top: 20px;
}

.nutrition-description .suggest-title
{
     color: #2DAAE1;
     font-size: 20px;
     padding-top: 15px;
     margin-left: 3rem;
}

.bg-transparent-white
{
    background: rgba(255, 255, 255, 0.5);
}

.bg-blue
{
    color: white; 
    background-color: #2DAAE1;
}

.rounded-character-area
{
    border: 4px solid #FFFFFF !important;
    border-radius: 20px;
    margin-top:30px!important;
}

.character-area
{
    background-color: #FFFFFF;
    /*min-height: 400px !important;*/
    margin-top:30px!important;
    width: 650px;
    margin: auto;
    text-align: center;
}

.ttd-coach
{
    margin-top: 4rem;
    margin-left: 10px;
}

.ttd-coach img
{
    width: 750px; 
}

.ttd-coach-pre-hoops
{
    margin-top: 6rem;
    margin-left: 10px;
}

.ttd-coach-pre-hoops img
{
    width: 700px;
    margin-top: 2rem;
}

.character-data
{
    color: black;
    font-family: 'Multicolore';
    font-size: 20px;
    -webkit-print-color-adjust: exact; 
}

.report-award .header-title
{
    padding-top: 100px;
    margin-top: 1rem;
}

.report-character .header-title
{
    padding-top: 100px; 
    margin-top: 1rem;
}

.report-character .header-title.add-rem
{
    margin-top: 2rem;
}

.report-character .title
{
    margin-left: 8rem;
}

/* END OF PRINT REPORT */

/* START OF PLACEMENT TEST */

.placement-test span
{
    font-weight: bold;
    color: black;
}

.rounded-photo-placement
{
    border: 4px solid white !important;
    border-radius: 20px;
}
/* END OF PLACEMENT TEST */

.checkbox-apparel
{
    margin-top: 0;
    margin-bottom: 5px;
}

.apparel-name
{
    padding-right: 5px;
}

.apparel-area
{
    margin-bottom:23px;
}

.apparel-label
{
    margin-right:10px; font-size:15px;
}

.apparel input
{
    margin-left:-15px; transform: scale(1);
}