/public_html/uploads
/public_html/thumbs
/public_html/node/node_modules
/node_modules
/vendor
/tests
/public_html/img/poll/choice
/public_html/img/event
/public_html/plugins
/public_html/vendor
Homestead.yaml
Homestead.json
.env
/.idea
/database/migrations/old
/database/migrations/exclude
logs/
/storage
